*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:'Baloo 2',cursive;
background:#edf9e8;

display:flex;
justify-content:center;
align-items:center;

min-height:100vh;

}

.background{

position:relative;

width:430px;
height:932px;

overflow:hidden;

background:linear-gradient(#eefbe8,#e5f5de);
}

.container{

padding:50px 35px;

text-align:center;

position:relative;
z-index:2;

}

.logo{

width:90px;

margin-top:40px;
}

h1{

font-size:60px;

color:#2b6c42;

font-weight:800;

line-height:1;
}

p{

font-size:22px;

color:#73a674;

margin-top:8px;

margin-bottom:40px;

font-weight:700;
}

.card{

background:white;

display:flex;

align-items:center;

padding:28px;

border-radius:28px;

margin-bottom:25px;

text-decoration:none;

box-shadow:0 10px 25px rgba(0,0,0,.12);

transition:.25s;
}

.card:hover{

transform:translateY(-4px);
}

.card img{

width:55px;
}

.card span{

margin-left:30px;

font-size:35px;

font-weight:800;

color:#2c5f42;
}

.leaf{

position:absolute;

opacity:.18;

width:150px;
}

.tl{

left:-20px;
top:20px;
}

.tr{

right:-20px;
top:10px;
}

.bl{

left:-20px;
bottom:20px;
}

.br{

right:-20px;
bottom:20px;
}

.heartbeat{

width:180px;

margin-top:40px;

opacity:.3;
}
